<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cartproducts="http://typo3.org/ns/Extcode/CartProducts/ViewHelpers"
      data-namespace-typo3-fluid="true">

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th class="col-md-2">
            &nbsp;
        </th>
        <th class="col-md-6">
            <f:translate key="tx_cartproducts_domain_model_product_product.title"/>
        </th>
        <th class="col-md-4">
            <f:translate key="tx_cartproducts_domain_model_product_product.price"/>
        </th>
    </tr>
    </thead>
    <tbody>
    <f:for each="{products}" as="product">
        <tr>
            <td>
                <f:if condition="{product.images}">
                    <cartproducts:link.product product="{product}" settings="{settings}">
                        <f:image src="{product.firstImage.originalResource.originalFile.uid}"
                                 title="{product.firstImage.originalResource.title}"
                                 alt="{product.firstImage.originalResource.title}"
                                 width="{settings.listAction.media.image.size.small.maxWidth}"
                                 height="{settings.listAction.media.image.size.small.maxHeight}" />
                    </cartproducts:link.product>
                </f:if>
            </td>
            <td>
                <cartproducts:link.product product="{product}" settings="{settings}">
                    {product.title}
                </cartproducts:link.product>
            </td>
            <td>
                <f:render partial="Product/Price" arguments="{product: product, settings: settings, currencyTranslationData:currencyTranslationData}"></f:render>
            </td>

            <td><form data-ajax="1" data-type="slot" data-id="" method="post" class="add-to-cart-form" id="product-1" action="/cart?tx_cart_cart%5Bcontroller%5D=Cart%5CProduct&amp;type=2278001&amp;cHash=8c39ff8c3d6de946b87a96a4960b7e48">
                <div>
                <input type="hidden" name="tx_cart_cart[__referrer][@extension]" value="CartProducts">
                <input type="hidden" name="tx_cart_cart[__referrer][@controller]" value="Product">
                <input type="hidden" name="tx_cart_cart[__referrer][@action]" value="showForm">
                <input type="hidden" name="tx_cart_cart[__referrer][arguments]" value="YTowOnt933622ab51b548594dc2c623cb02427a9de0ccf70">
                <input type="hidden" name="tx_cart_cart[__referrer][@request]" value="{&quot;@extension&quot;:&quot;CartProducts&quot;,&quot;@controller&quot;:&quot;Product&quot;,&quot;@action&quot;:&quot;showForm&quot;}39323f104991117432085840be3992cc8aa97fa9">
                <input type="hidden" name="tx_cart_cart[__trustedProperties]" value="[]7ab086de68173c7f2c005d56edcc6c5be1aaee06">
                </div>
                
                        <input type="hidden" name="tx_cart_cart[productType]" value="CartProducts">
                        <input type="hidden" name="tx_cart_cart[product]" value="1">
                
                        <input class="form-control" type="text" value="1" name="tx_cart_cart[quantity]">
                        
                        
                        <input type="submit" class="btn btn-default form-control" value="Add to cart">
                
                        <div class="form-message" data-ajax-message-timeout="3000">
                            <div class="form-success" style="display: none;" data-ajax-success-block="">
                                <div class="alert alert-success" data-ajax-success-message="">Item was added to cart.</div>
                            </div>
                            <div class="form-error" style="display: none;" data-ajax-error-block="">
                                <div class="alert alert-warning" data-ajax-error-message=""></div>
                            </div>
                        </div>
                    </form></td>
        </tr>
    </f:for>
    </tbody>
   
</table>
</html>